.people{
    margin-top: 5%;
    height: 50%;
    width:  50%;
    margin-left: auto;
    margin-right: auto;
}

.people-img{
    margin-top: 1%;
    height: 25%;
    width:  25%;
    margin-left: auto;
    margin-right: auto;
}

.peopleb{
    margin-bottom: 1%;
}

.team-container{
    margin-top: 5%;
}

.team{
    margin-top: 5%;
}

.dev{
    height: 25%;
    width:  25%;
}

.website{
    margin-top: 5%;
}